<%- include("partials/header"); -%>
    <%- include("partials/navbar"); -%>


        <div class="jumbotron text-left">
            <h1>About Us</h1><br>
            <p> The process of developing assessment plans, assessment tasks, and scoring rubrics also provides an oppurtunity for discussion among faculty, staff, and students about what is important to learn.The annual assesment of your academic performance-
                based on number of credits completed (pass or fail). APE is only calculated once you have taken 4.0 credits, and then every subsequent 4.0 credits.</p>
        </div>
        <!-- <div class="container">
        <h2>Contact Us</h2>
        <div class="card" style="width:400px">
            <div class="card-body">
                <div>
          <strong>Email</strong><br>
          abc@gmail.com <br>
          <strong>Contact no.</strong><br>
          9876543210
        </div>   -->
        <%- include("partials/footer"); -%>