<%- include("partials/header") -%>
    <center>
        <strong>
            <div class="hero">
                <h1 style="color: blueviolet;">DASHBORD </h1>
            </div>
        </strong>
    </center>


    <div class=" border-0">
        <div class="row ">
            <div class="col-sm dis">
                <div><button type="button" class="btn btn-warning"><a href="/admin" style="color: aliceblue;"><i class="fas fa-user-shield"></i></a></button></div>
                <div>Admin</div>
            </div>

            <div class="col-sm dis">
                <div> <button type="button" class="btn btn-dark"><a href="/marksheet" style="color: aliceblue;"><i class="fas fa-user-plus"></i></a></button></div>
                <div>Add Students</div>
            </div>

            <div class="col-sm dis">
                <div> <button type="button" class="btn btn-primary"><a href="/updatemarks" style="color: aliceblue;"><i class="fas fa-marker"></i></a></button></div>
                <div>Update StudentMarks</div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-sm dis">
                <div> <button type="button" class="btn btn-primary"><a href="/emptyMarks" style="color: aliceblue;"><i class="fas fa-eraser"></i></a></button></div>
                <div>Erase Marks </div>
            </div>

            <div class="col-sm dis">
                <div> <button type="button" class="btn btn-primary"><a href="/updateProjects" style="color: aliceblue;"><i class="fas fa-user-edit"></i></a></button></div>
                <div>Update projects</div>
            </div>

            <div class="col-sm dis">
                <div> <button type="button" class="btn btn-primary"><a href="/achivements" style="color: aliceblue;"><i class="fas fa-award"></i></a></button></div>
                <div>Add Achivements</div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>