<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="img/word.png" type="image" sizes="16x16">
    <title>
        Evaluation of Academic Performance
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><i class="fas fa-book-reader"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../marksheet">Marksheet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../dashbord">Dashbord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../logout_all">Logout_All</a>
                </li>
                <li class="nav-item">
                    <form action="/" method="POST" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="SearchRoll">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>
            </ul>

    </nav>
    </div>


    <header>
        <div class="row">
            <div class="col">
                <div class="ct">
                    <strong style="font-family: Montserrat; color: blueviolet;">
                    <div class="herotxt" style="font-size: 45px;">EV<span style="color: red;"><i class="fab fa-odnoklassniki"></i></span>LUATATION </div>
                    <span style="font-size: 40px;">OF</span>
                    <span style="font-size: 40px;">ACADEMIC</span>
                    <span style="font-size: 45px;">PERFORMANCE</span>
                  </strong>
                </div>
            </div>
            <div class="col">
                <div class="container>
                <div class=" hero-img ">
                    <img src="img/hero-img.png " alt=" ">
                </div>
                </div>
            </div>
        </div>
    </header>

    <div class="jumbotron jumbotron-fluid jb ">
        <center style="color: black; font-size:50px; margin-top: -2%; ">Team Guide</center>
        
        <div class="row ">
            <div class="card cdteam border-0 " style="width: 18rem; margin-left: 100px; ">
                <div class="card-body ">
                  <h5 class="card-title ">Rajesh Singh</h5>
                  <h6 class="card-subtitle ">HOD of CSE Dept.</h6>
                  <p class="card-text ">RTC Institute of Technology, Anandi, Ormanjhi, Ranchi</p>
                  <a href="# " class="card-link ">Card link</a>
                  <a href="# " class="card-link ">Another link</a>
                </div>
              </div>
            <div class="col ">
                <div class="guidDiscp ">
                <p class="mb-3 "> This project would not have been make without the support and encouragement of all those people whom I want to thank today. Firstly we would like to express our sincere gratitude to Mr. Rajesh Singh, HOD, Department of Computer Science
                    & Engineering and our guide for giving an opportunity to do this project, whose role as project guide was in valuable for the project. We extremely thankful for the keen interest he took in advising us for book and references provided
                    for the moral support extended to us.
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid jbw ">
        <h1 class="display-4 cts ">Project Description</h1>
                    <p class="lead cts ">Students' academic success is evaluated by their performance in exams conducted by the institutes or Universities. ... In this method, we consider two parameters internal marks and external marks which are considered
                        to evaluate students final academic performance.</p>
    </div>
    <div class="jumbotron jumbotron-fluid jb ">
        <center style="color: black; font-size:50px; margin-top: -5%; ">Team</center>
        <div class="row ">
            <div class="col ">
              <div class="card cdteam border-0 " style="width: 18rem; ">
                <div class="card-body ">
                  <h5 class="card-title ">Amrita Singh</h5>
                  <h6 class="card-subtitle ">Roll No: 1701098</h6>
                  <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <center style="font-size: 2em; ">
                  <a href="https://github.com/ammu-20 " class="card-link "><i class="fab fa-github "></i></a>
                  </center>
                </div>
              </div>
            </div>
            <div class="col ">
              <div class="card cdteam border-0 " style="width: 18rem; ">
                <div class="card-body ">
                  <h5 class="card-title ">Nitu Kumari</h5>
                  <h6 class="card-subtitle ">Roll No.</h6>
                  <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <center style="font-size: 2em; ">
                  <a href="https://github.com/9508 " class="card-link "><i class="fab fa-github "></i></a>
                  </center>
                </div>
              </div>
            </div>
            <div class="col ">
              <div class="card cdteam border-0 " style="width: 18rem; ">
                <div class="card-body ">
                  <h5 class="card-title ">Piyush Kumar</h5>
                  <h6 class="card-subtitle ">Roll No: 1701092</h6>
                  <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <center style="font-size: 2em; ">
                  <a href="https://github.com/piyuskr " class="card-link "><i class="fab fa-github "></i></a>
                  </center>
                </div>
              </div>
            </div>
            <div class="col ">
              <div class="card cdteam border-0 " style="width: 18rem; ">
                <div class="card-body ">
                  <h5 class="card-title ">Sidhant Kumar</h5>
                  <h6 class="card-subtitle ">Roll No:</h6>
                  <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <center style="font-size: 2em; ">
                  <a href="https://github.com/Sidhant170 " class="card-link "><i class="fab fa-github "></i></a>
                  </center>
                </div>
              </div>
            </div>
          </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx " crossorigin="anonymous "></script>
</body>

</html>