<%- include("partials/header") -%>



    <main id="site-main alluser">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/admin" class="border-shadow">
                    <span class="text-gradient"><i class="fas fa-angle-double-left"></i>All Users</span>
                </a>
            </div>
        </div>
    </main>



    <div style="display:flex; justify-content:center; align-items:center; margin-top: 150px;">
        <div class="card" style="width:400px">
            <div class="card-body">
                <h4 class="card-title">Update Users</h4>
                <form action="/updateProjects" method="POST">
                    <div class="form-group">
                        <label>College Roll No </label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="rollNo">
                        <label>Project Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="projectName">
                        <label>Project Link</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="projectLink">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Project</button>
                </form>
            </div>
        </div>
    </div>


    <%- include("partials/footer") -%>